@model (string typeId, string action, dynamic entry)
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<div id="typeid_1" class="layui-card">
    <div class="layui-card-header">添加</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-row">
                <div class="layui-form-item">
                    @{
                        if (Model.action == "1")
                        {
                            switch (Model.typeId)
                            {
                                case "1":
                                    <input type="hidden" name="CategoryId" value="@Model.entry.CategoryId">
                                    <label class="layui-form-label">分类标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="CategoryName" value="@Model.entry.CategoryName" class="layui-input">
                                    </div>
                                    break;
                                case "2":
                                    <input type="hidden" name="ArticleId" value="@Model.entry.Item1.ArticleId">
                                    <label class="layui-form-label">文章标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="ArticleName" value="@Model.entry.Item1.ArticleName" class="layui-input">
                                    </div>
                                    <label class="layui-form-label">文章分类</label>
                                    <div class="layui-input-block">
                                        <select name="CategoryId">
                                            @{
                                                foreach (var category in Model.entry.Item2)
                                                {
                                                    if (category.CategoryId == Model.entry.Item1.Category.CategoryId)
                                                    {
                                                        <option selected="selected" value="@category.CategoryId">@category.CategoryName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@category.CategoryId">@category.CategoryName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <label class="layui-form-label">文章标签</label>
                                    <div class="layui-input-block">
                                        @{
                                            var tagStr = "";
                                            var tagId = "";
                                            if (Model.entry.Item1.Tag != null)
                                            {
                                                if (!string.IsNullOrEmpty(Model.entry.Item1.Tag.TagName))
                                                {
                                                    tagStr = Model.entry.Item1.Tag.TagName;
                                                    tagId = Model.entry.Item1.Tag.TagId.ToString();
                                                }
                                            }
                                            <input type="text" lay-verify="tag" id="tag" name="TagName" value="@tagStr" class="layui-input">
                                            <input type="hidden" lay-verify="tagId" id="tagId" name="TagId" value="@tagId" />
                                        }
                                    </div>
                                    <label class="layui-form-label">标题图片</label>
                                    <div class="layui-input-block">
                                        <div class="layui-input">
                                            <input type="hidden" name="TitleImgPath" value="@Model.entry.Item1.TitleImgPath" class="layui-inline" />
                                            <label type="text" id="displayImg" style="width:80%;" class="layui-inline">
                                                @Model.entry.Item1.TitleImgPath
                                            </label>
                                            <button type="button" class="layui-btn layui-inline" name="TitleImgPat" id="upTBtn">
                                                <i class="layui-icon">&#xe67c;</i>上传图片
                                            </button>
                                        </div>
                                    </div>
                                    <label class="layui-form-label">文章内容</label>
                                    <div class="layui-input-block">
                                        <textarea id="body" name="body" style="display: none;" lay-verify="article_body">@Model.entry.Item1.Body</textarea>
                                    </div>
                                    <label class="layui-form-label">文章备注</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="remark" value="@Model.entry.Item1.Remark" class="layui-input">
                                    </div>
                                    break;
                            }
                        }
                        if (Model.action == "0")
                        {
                            switch (Model.typeId)
                            {
                                case "1":
                                    <label class="layui-form-label">分类标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="CategoryName" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                                    </div>
                                    break;
                                case "2":
                                    <label class="layui-form-label">文章标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="ArticleName" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                                    </div>
                                    <label class="layui-form-label">文章分类</label>
                                    <div class="layui-input-block">
                                        <select name="CategoryId" required lay-verify="required">
                                            <option value="">请选择分类</option>
                                            @{
                                                foreach (var category in Model.entry.Item2)
                                                {
                                                    <option value="@category.CategoryId">@category.CategoryName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <label class="layui-form-label">文章标签</label>
                                    <div class="layui-input-block">
                                        <input type="text" lay-verify="tag" placeholder="请输入标签,用;号分割" name="TagName" class="layui-input">
                                    </div>
                                    <label class="layui-form-label">标题图片</label>
                                    <div class="layui-input-block">
                                        <div class="layui-input">
                                            <input type="hidden"  name="TitleImgPath"  value="" class="layui-inline" />
                                            <label type="text" id="displayImg" style="width:80%;" class="layui-inline">
                                            </label>
                                            <button type="button" class="layui-btn layui-inline" name="TitleImgPat" id="upTBtn">
                                                <i class="layui-icon">&#xe67c;</i>上传图片
                                            </button>
                                        </div>
                                    </div>
                                    <label class="layui-form-label">文章内容</label>
                                    <div class="layui-input-block">
                                        <textarea id="body" name="body" style="display: none;" lay-verify="article_body"></textarea>
                                    </div>
                                    <label class="layui-form-label">文章备注</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="remark" placeholder="请输入备注" class="layui-input">
                                    </div>
                                    break;
                            }
                        }
                    }
                </div>
                <input type="hidden" name="typeId" value="@Model.typeId" />
                <input type="hidden" name="action" value="@Model.action" />
                @Html.AntiForgeryToken()
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    //添加
    var $ = null;
    layui.use(['layedit', 'form','upload'], function () {
        $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var layedit = layui.layedit;
        var upload = layui.upload;
        var titleImgP = "";
        layedit.set({
            uploadImage: {
                url: '/ray/item/ImgUp'
                , type: 'post' //默认post
            }
        });
        var index = layedit.build('body'); //建立编辑器
        //自定义验证规则
        form.verify({
            article_body: function (value) {
                layedit.sync(index);
            }
        });
        upload.render({
            elem: '#upTBtn' //绑定元素
            , url: '/ray/item/titleImgUp' //上传接口
            , accept:'images'
            , acceptMime:'image/'
            , done: function (res) {
                if (res.code == 0) {
                    titleImgP = res.data.src;
                    $("#displayImg").text(titleImgP);   
                }
                //上传完毕回调
            }
            , error: function () {
                //请求异常回调
            }
        });
        //监听提交
        form.on('submit(add)', function (data) {
            //var dataForm = $('form').serialize(); 
            if (data.field.typeId==2) {
                if (data.field.action==1) {
                    if (titleImgP != "") {
                        if (data.field.TitleImgPath != titleImgP) {
                            data.field.TitleImgPath = titleImgP;
                        } 
                    } 
                }
                if (data.field.action == 0) {
                    if (titleImgP != null && titleImgP != "" && typeof (titleImgP) != "undefined") {
                        data.field.TitleImgPath = titleImgP;
                    } else {
                        layer.msg("标题图片地址不能为空", { icon: 5 });
                        return false;
                    }
                }
            }
            //var dataForm = JSON.stringify(data.field);
            var dataForm = data.field;
            var retData = setData(layer, "/ray/item/add", dataForm);
            return retData;
        });


    });
    function setData(layer, url, params) {
        var retData = {};
        params = (params == null || params == "" || typeof (params) == "undefined") ? {} : params;
        $.post(url, params, function (data) {
            retData = data;
            if (retData.code == 2 || retData.code == 1) {
                if (retData.msg != "undefined" || retData.msg != null || retData.msg == "") {
                    layer.msg(retData.msg, { icon: 5 });
                    return false;
                }
            }
            if (retData.code == 0) {
                layer.msg(retData.msg, {
                    icon: 6,
                    time: 500
                }, function () {
                    parent.location.reload(true);;
                    //parent.location.href = "/ray/item/?id="+retData.tid;
                });
            }
        },"json");
        return false;
    };
</script>

